USE [master]
GO
/****** Object:  Database [Assignment_PRJ321]    Script Date: 3/23/2020 10:05:15 AM ******/
CREATE DATABASE [Assignment_PRJ321]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment_PRJ321', FILENAME = N'E:\SQL Sever\MSSQL14.MS2017EXP\MSSQL\DATA\Assignment_PRJ321.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assignment_PRJ321_log', FILENAME = N'E:\SQL Sever\MSSQL14.MS2017EXP\MSSQL\DATA\Assignment_PRJ321_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment_PRJ321].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment_PRJ321]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/23/2020 10:05:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](30) NULL,
	[lastname] [nvarchar](60) NULL,
	[isAdmin] [bit] NULL,
 CONSTRAINT [PK_Management] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/23/2020 10:05:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[No] [int] NULL,
	[Title] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Price] [float] NULL,
	[TotalPrice] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoredBook]    Script Date: 3/23/2020 10:05:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoredBook](
	[Title] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Price] [float] NULL
) ON [PRIMARY]
GO
USE [master]
GO
